h2{
	font-size: 20px;
	
}

p{
	font-size: 16px;
	color: grey;

}

.description p{
	padding-top: 10px;
}

.nav{
	padding-bottom: 50px;
}
.nav-primary ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-primary li {
    display: inline;
    font-size: 16px;
}

.nav-primary a {
    display: block;
    
    color:black;
}

nav ul.nav-pills li.active a{
	background: #9bd3dd;
}

.btn-success{
	font-size: 16px;
	font-weight:16px;
}

.site-name h1{
	font-weight:900;
	color:#5c5b60;
}

.bio{
	color:red;
}

.modal-dialog{
	width: auto;
}

#artwork1 .modal-dialog{
	margin:15px 30px;
}

.card--row{
	margin-top: 1em;
	float: left;
}

.card{
	max-width: 30%;
	float: left;
	margin-bottom: 1.618em;
	border: 1px solid #efefef;
	box-shadow: 0 2px 3px 0 #dfdfdf
}

.card--row .card:first-child{
	margin-right:5%;
}

.card--row .card:last-child{
	margin-left:5%;
}
.card .image-link img{
	width: 100%;

}

.card .text-wrapper{
	float:left;
	width: 92%;
	margin: 0 4% 1em 4%;
}

.card .image-link{
 	height: auto;
 	width:100%;
	overflow-y:hidden;
	float:left;
}

.card .description{
	min-height: 	2.6em;
	font-family: georgia, 'times new roman', serif;
}

.card .btn{
	border-radius: 0px;
	width: 100%;
}

footer{background: #e0e0e0;
	margin-top: 1.618em;
	padding-top: 50px;
}

footer h4{
	font-size: 20px;
	font-weight:800;
}
footer p{
	font-family: georgia;
	color: black;
}

footer ul{
	list-style: none;
	font-family: georgia;
}